// COLORS

$color-primary: #217951;
$color-primary-dark: #217951;
$color-secondary: #F5EEDF;
$color-tertiary: #EE5D33;

$color-white: #ffffff;
$color-black: #000000;
$color-black-80: #333333;
$color-black-50: #00000080;
$color-black-10: #0000001a;

$color-yellow: #F7AE30;

$color-grey-1: #F7F7F7;
$color-grey-2: #e5e5e7;
$color-grey-3: #9bb0b3;
$color-grey-4: #003a404d;
$color-grey-5: #003a401f;
$color-grey-6: #d9e1e2;
$color-gray-7: #00000029;
