.header {

  &__button {
    .wc-btn {

      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 1.2rem;
      border-bottom-left-radius: 1.2rem;
      border-bottom-right-radius: 0;
      font-weight: 500;
      padding: 1.4rem 2rem;
    }

    .wc-btn-primary {
      background-color: #01DDF0;
      color: $color-black;

    }
  }

}

.wc-btn {

  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 0;
  font-weight: 500;
  padding: 1.4rem 2rem;
}

.wc-btn-primary {
  background-color: #01DDF0;
  color: $color-black;

  &--text-white {
    color: $color-white;
  }

}

.btn-link {
  font-family: "Lufga", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.4rem;
  letter-spacing: 0;
  text-decoration: none;
  border-bottom: 1px solid $color-black;
  text-transform: uppercase;

}