*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}



::selection {
  background-color: $color-primary;
  color: $color-white;
}

.container {
  max-width: 155.8rem;
  padding: 0 6rem;

  @include addMediaQuery(laptop) {
    padding: 0 2.5rem;
  }
}
