@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 100;
  /* Thin */
  src: local("Lufga Thin"), url("LufgaThin.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 100;
  /* Thin Italic */
  src: local("Lufga Thin Italic"), url("LufgaThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 200;
  /* ExtraLight */
  src: local("Lufga ExtraLight"), url("LufgaExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 200;
  /* ExtraLight Italic */
  src: local("Lufga ExtraLight Italic"),
    url("LufgaExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 300;
  /* Light */
  src: local("Lufga Light"), url("LufgaLight.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 300;
  /* Light Italic */
  src: local("Lufga Light Italic"), url("LufgaLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 400;
  /* Regular */
  src: local("Lufga Regular"), url("LufgaRegular.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 400;
  /* Italic */
  src: local("Lufga Italic"), url("LufgaItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 500;
  /* Medium */
  src: local("Lufga Medium"), url("LufgaMedium.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 500;
  /* Medium Italic */
  src: local("Lufga Medium Italic"),
    url("LufgaMediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 600;
  /* SemiBold */
  src: local("Lufga SemiBold"), url("LufgaSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 600;
  /* SemiBold Italic */
  src: local("Lufga SemiBold Italic"),
    url("LufgaSemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 700;
  /* Bold */
  src: local("Lufga Bold"), url("LufgaBold.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 700;
  /* Bold Italic */
  src: local("Lufga Bold Italic"), url("LufgaBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 800;
  /* ExtraBold */
  src: local("Lufga ExtraBold"), url("LufgaExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 800;
  /* ExtraBold Italic */
  src: local("Lufga ExtraBold Italic"),
    url("LufgaExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 900;
  /* Black */
  src: local("Lufga Black"), url("LufgaBlack.woff") format("woff");
}

@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 900;
  /* Black Italic */
  src: local("Lufga Black Italic"), url("LufgaBlackItalic.woff") format("woff");
}

* {
  font-family: "Lufga", sans-serif;
}

.heading {
  & &__secondary {
    font-family: "Lufga", sans-serif;
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 6.48rem;
    letter-spacing: 0;
	margin: 1rem 0;

	&--inter {
		    font-family: "Inter", sans-serif;
	}

	&--shape-1 {
		transform: scaleX(-1);
		margin: 1.5rem 0;
	}

  	&--shape-2 {
		transform: scaleX(-1);
	}
	&--w-36 {
		width: 36rem;
	}
	&--w-35 {
		width: 35rem;
	}
    &--underline {
      font-size: 4.2rem;
      line-height: 0.83;
      font-weight: 600;
      display: inline-block;
      position: relative;
      color: $color-primary;

	  span {
		height: 1rem;
		display: block;
	  }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--theme);
        bottom: 0;
        inset-inline-start: 0;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--theme);
        bottom: 4px;
        inset-inline-start: 0;
      }
    }
  }
}
.paragraph {
  font-family: "IBM Plex Sans Arabic", serif;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: 0;
  font-weight: 400;
  word-wrap: break-word;
  color: $color-black;

  @include addMediaQuery(laptop) {
    text-align: center;
  }

  @include addMediaQuery(phone-l) {
    font-size: 2rem;
  }

  &--size-32 {
    font-size: 3.2rem;
  }

  &--color-white {
    color: $color-white;
  }

  &--color-primary {
    color: $color-primary;
  }

  &--color-secondary {
    color: $color-secondary;
  }

  &--font-weight-500 {
    font-weight: 500;
  }

  &--font-weight-700 {
    font-weight: 700;
  }

  &--font-weight-600 {
    font-weight: 600;
  }

  &--s {
    font-size: 1.4rem;
  }
}
