.hero-area {
    position: relative;

    &::after {
        position: absolute;
        right: 0;
        top: 40%;
        content: "";
        background-image: url("../imgs/shape/logo-testimonials.svg");
        background-repeat: no-repeat;
        width: 28rem;
        height: 33rem;
        z-index: 2000;
    }
}

.hero-area .section-title .rotated {
    img {
        transform: rotate(180deg) translate(25px, 20px) scale(0.9);
    }
}

.hero-area .section-title {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    font-size: 14rem;
    line-height: 13.224rem;
    letter-spacing: 0;
    position: relative;


    @include addMediaQuery(tablet) {
        font-size: 7rem;
        line-height: 7.224rem;
    }
}

.hero-area .section-title .marked {
    letter-spacing: 0;
    padding-bottom: 0;
    transform: translateY(0);
    width: 10.6rem;
    position: absolute;
    bottom: -1rem;

    @include addMediaQuery(tablet) {
        left: 0;
    }
}

.hero-area .hero-thumb .thumb-2 {
    -webkit-mask-image: url(../imgs/gallery/img-s-68--mask-new.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    margin-top: 10.4rem;
    border-radius: 6px;
    overflow: hidden;
}

.hero-area .video-btn-box {
    top: 91%;
    right: 10%;

    &--mobile {

        display: none;

        @include addMediaQuery(laptop) {
            display: block;
            margin-top: 1rem;

        }
    }

    &--desktop {
        display: block;

        @include addMediaQuery(laptop) {
            display: none;

        }

    }

    @include addMediaQuery(laptop) {
        position: unset;

    }
}

.hero-area .section-title.section-title-secondary {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 13.224rem;
    letter-spacing: 0;

    @include addMediaQuery(tablet) {
        line-height: 11.224rem;
    }
}

.hero-area .section-content {

    @include addMediaQuery(laptop) {
        display: flex;
        flex-direction: column;
    }
}

.hero-area .section-content .text {
    max-width: unset;

    @include addMediaQuery(laptop) {
        color: $color-black !important;
    }
}

.hero-area .section-content .content-bottom {
    margin-inline-start: 0;
}

.hero-area .customer-wrapper {
    margin-inline-start: 0;
}

.hero-area .customer-wrapper-box {
    justify-content: flex-start;
}

.hero-area .section-content .content-bottom {
    margin-top: 0;
}

.section-services {
    padding: 10rem 0;
    background-color: rgba($color-primary, 0.1);

    &--bg-white {
        background-color: $color-white;
    }

    &__photo {
        background-image: url("../imgs/gallery/bg-1.png");
        height: 27.6rem;
        background-size: cover;
        background-position: center;
        border-radius: 1.2rem;
        margin-top: 2rem;
    }
}

.thumb-wrapper {
    margin-right: 4rem;

    @include addMediaQuery(laptop) {
        margin-right: 0;
    }
}

.section-partners {
    padding: 14rem 0;
}

.content-last .shape-1 {

    @include addMediaQuery(laptop) {
        inset-inline-start: 0 !important;
        top: 20% !important;

    }
}

.hero-area-inner .area-shape-1 {
    inset-inline-end: calc(100% - 90px);
}

.work-box {
    border: 1px solid rgba($color-black, 0.2);
}

.section-tech {
    background: url("../imgs/gallery/bg-2.png") no-repeat center/cover;
    // padding: 4rem 0;

    background-color: rgba(0, 0, 0, 0.3);
    /* Red with 70% opacity */
    background-blend-mode: multiply;
    /* Try different values */
    background-size: cover;
    background-position: center;



    & &__title {
        font-family: "Lufga", sans-serif;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 2.6rem;
        letter-spacing: 0;
        color: $color-white;
    }

    ul {}

    li {
        list-style: disc;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.6rem;
        letter-spacing: 0;
        list-style-position: inside;
    }

    &__last {
        background: url("../imgs/shape/banner.svg") no-repeat center/cover;
        padding: 8rem 4.8rem 17rem 4.8rem;

        background-color: rgba(0, 0, 0, 0.3);
        /* Red with 70% opacity */
        background-blend-mode: multiply;
        /* Try different values */
        background-size: contain;
        background-position: top;

        @include addMediaQuery(tablet) {
            padding: 5.2rem 5rem;
        }
    }

    &__first {
        padding: 17.2rem 4.8rem;

        @include addMediaQuery(tablet) {
            padding: 5.2rem 5rem;
        }
    }
}

.video-btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.video-btn .wc-btn-circle {
    width: 100px;
    height: 100px;
    border: 5px solid var(--white);
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
}

.dark .video-btn .wc-btn-circle {
    border-color: var(--black);
    background-color: var(--white);
    color: var(--black);
}

.video-btn .text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.14;
    display: inline-block;
    color: var(--primary);
}

.video-btn .text br {
    display: block;
}

.video-btn-box {
    //   position: absolute;
    inset-inline-end: 0;
    z-index: 1;
    top: 66%;
}

.work-area {
    margin: 5rem 0;
}
.section-zoho {
    padding: 10.4rem 0;

    &__banner {
        background: url("../imgs/gallery/banner-2.jpg");
        background-color: #121212;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        border-radius: 2.4rem;

        img {
            height: 6.2rem;
                        margin-bottom: 2rem;
        }
    }

    & &__title {
        font-family: "Lufga", sans-serif;
        font-weight: 500;
        font-size: 4.8rem;
        line-height: 6.48rem;
        letter-spacing: 0;
        margin-bottom: 2rem;

        @include addMediaQuery(tablet) {
                  font-size: 2.8rem;
                  line-height: 4rem;
  
        }
    }

    &__text {
        color: rgba(153, 153, 153, 1);
    }

    &__wrap {
        padding: 6.1rem 4.8rem;

    }
}

.testimonial-area {
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 30%;
        content: "";
        background-image: url("../imgs/shape/shape-testimonials-1.svg");
        background-repeat: no-repeat;
        width: 32rem;
        height: 33rem;
        z-index: 2000;
    }

    &::after {
        position: absolute;
        right: 0;
        top: 40%;
        content: "";
        background-image: url("../imgs/shape/logo-testimonials.svg");
        background-repeat: no-repeat;
        width: 28rem;
        height: 33rem;
        z-index: 2000;
    }
}

.testimonial-area .section-heading {
    text-align: center;
    padding-bottom: 37px;
}

@media only screen and (max-width: 767px) {
    .testimonial-area .section-heading {
        padding-bottom: 20px;
    }
}

.testimonial-area .testimonial-item {
    max-width: 910px;
    margin: auto;
    text-align: center;
    cursor: grab;
}

@media only screen and (max-width: 1399px) {
    .testimonial-area .testimonial-item {
        max-width: 790px;
    }
}

.testimonial-area .text {
    font-size: 30px;
    margin-top: 34px;
    font-weight: 300;
    color: var(--primary);
}

@media only screen and (max-width: 1399px) {
    .testimonial-area .text {
        font-size: 26px;
    }
}

@media only screen and (max-width: 991px) {
    .testimonial-area .text {
        font-size: 22px;
    }
}

.testimonial-area .meta {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    margin: auto;
    text-align: start;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

@media only screen and (max-width: 1399px) {
    .testimonial-area .meta {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .testimonial-area .meta {
        margin-top: 30px;
    }
}

.testimonial-area .meta img {
    border-radius: 50%;
}

.testimonial-area .name {
    font-size: 20px;
}

.testimonial-area .post {
    font-size: 14px;
    line-height: 1;
    margin-top: 5px;
}

.testimonial-area .testimonial-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .testimonial-area .testimonial-pagination {
        margin-top: 30px;
    }
}

.testimonial-area .testimonial-pagination .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: #e7e7e7;
    opacity: 1;
}

.dark .testimonial-area .testimonial-pagination .swiper-pagination-bullet {
    background-color: #4a4a4a;
}

.testimonial-area .testimonial-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $color-primary;
    width: 30px;
}

.hero-area .hero-social {
    writing-mode: vertical-lr;
    display: flex;
    gap: 20px;
    align-items: center;
    float: right;
    margin-top: -9rem;

    @include addMediaQuery(laptop) {
        display: flex;
        flex-direction: column;
        writing-mode: unset;
        margin-top: 1rem;

    }
}

.hero-area-inner .content-last {
    @include addMediaQuery(laptop) {
        display: flex;
        flex-direction: column;
    }
}

.dir-rtl .hero-area .hero-social {
    justify-content: flex-end
}

@media only screen and (max-width: 991px) {
    .hero-area .hero-social {
        writing-mode: initial
    }
}

.hero-area .hero-social .title {
    position: relative;
    padding-inline-end: 80px;
    display: inline-block;
    font-size: 14px;
    color: var(--primary);
    text-transform: uppercase
}

.hero-area .hero-social .title:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--border);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.dir-rtl .hero-area .hero-social .title:before {
    top: 0;
    bottom: auto
}

@media only screen and (max-width: 991px) {
    .hero-area .hero-social .title:before {
        width: 60px;
        height: 1px;
        inset-inline-end: 0;
        top: 50%;
        transform: translateY(-50%)
    }
}

.hero-area .hero-social .hero-social-links {
    display: flex;
    gap: 25px
}

.hero-area .hero-social .hero-social-links a {
    color: var(--primary)
}

.hero-area .hero-social .hero-social-links a:hover {
    color: var(--secondary)
}