/* Homepage */

html {
    direction: rtl;
}

.hero-area-inner .content-last {
    direction: ltr;
}

.hero-area .hero-social {
    float: left;
}

.card-service {
    padding-left: 1rem;
}

.card-service__line:after {
    display: none;
}

.card-service__line:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
}

@media (max-width: 992px) {
    .card-service__line:before {
        display: none;
    }
}

.btn-link img {
    transform: scaleX(-1);
}

.heading .heading__secondary--shape-2 {
    left: 0;
    right: unset;
    transform: scaleX(1);
}

/* About Page */

.hero-section::after {
    left: 0;
    right: unset;
}

.hero-section::before {
    left: 0;
    right: unset;
}

.hero-right__content--desktop {
    left: -3rem;
    right: unset;
}

.awards-card {
    direction: ltr;
    text-align: right;
}

.card-goal--border-right {
    border-right: unset;
    border-left: 1px solid #00000033;
}

@media (max-width: 992px) {
    .card-goal--border-right {
        display: none;
    }
}

.team-area .team-wrapper-box .shape-1 {
    right: unset;
    left: -10px;
}

.team-area .team-wrapper-box .shape-1 img {
    transform: scaleX(-1);
}

/* Service Details Page */

.section-offering::after {
    right: unset;
    left: 0;
}

.section-offering__item span {
    margin-left: 2rem;
    margin-right: 0;
}

.section-offering__item span img {
    transform: scaleX(-1);
}

.section-offering__plus-icon {
    margin-left: 1.5rem;
    margin-right: 0;
}

/* Blog Page (News) */

.blog-area .blog-box .icon i {
    transform: scaleX(-1) rotate(-45deg);
}

/* Blog Details */

.blogdetails__info-title {
    padding-left: unset;
    padding-right: 1.1rem;
    border-left: unset;

    border-right: 1px solid #555555;
}

.blogdetails__info-text {
    padding-left: unset;
    padding-right: 1.1rem;
}

/* Hiring Page */

.contact-area .contact-list {
    text-align: right;
}

.contact-area .info-box .text {
    text-align: right;
}

/* Contact Us Page */